body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica;
  margin: 0px;
}

#cabecalho {
  top: 0px;
  position: fixed;
  font-size: 18px;
  background-color: aquamarine;
  width: 100%;
  text-align: center;
  display: block;
  font-family:Calibri, 'Trebuchet MS', sans-serif;
  z-index: 2;
}

#minha_foto {
  height: 400px;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin-left: 20px;
}

#tabela {
  margin-top: 110px;
  border: 2px solid black;
  margin-left: 20px;
  border-collapse: collapse;
}

td {
  border: 2px solid black;
  text-align: center;
  padding: 3px;
}

#secao {
  margin-left: 20px;
}

#lado-esquerdo {
  margin-left: 20px;
  left: 10px;
  top: 200px;
  width: 400px;
  display: inline-block;
}

#lado-direito {
  text-align: center;
  margin-right: 20px;
  right: 10px;
  width: 200px;
  display: inline-block;
  float: right;
  position: absolute;
  top: 1160px;
}

#rodape {
  margin: 10px;
  background-color: paleturquoise;
  border: 3px solid black;
  border-radius: 10px;
  padding: 7px;
  text-align: center;

}

#link-trybe {
  color: green;
}
